# Other files and folders
resources
eval_images/
evaluation/pycocoevalcap/
evaluation/pycocotools/
evaluation/get_stanford_models.sh
evaluation/annotations/*.json
*.png
*.jpg

# Large files
dataset/*
!dataset/README.md
!dataset/*.py
weights/
*.h5
*.pickle
*.keras

# Byte-compiled
__pycache__/

# Visual Studio Code
.vscode

# Jupyter Notebook
.ipynb_checkpoints

# PyCharm
.idea
